body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  background: url(/images/Forested_Mountainside.jpg);
}

#container {
  width: 75%;
  margin-left: 150px;
  font-size: 15px;
}

#binder {
  width: 75%;
  margin: auto;
  background: url(/images/middle2.png);
  background-size: 100%;
  background-repeat:repeat-y;
  font-size: 12px;
  padding-bottom: 20px;
}

#header {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background: url(/images/top2.png);
  background-size: 100%;
  padding: auto;
  -moz-border-radius-topright: 25px 50px;
  border-top-right-radius: 25px 50px;
  background-position:center-bottom;
}

#footer {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;
  background: url(/images/top2.png);
  background-size: 100%;
  padding: auto;
  -moz-border-radius-bottomright: 25px 50px;
  border-bottom-right-radius: 25px 50px;
  background-position:center-top;
}

#bottom {
  padding-top: 12px;
  font-size: 12px;
  text-align: center;
}

.date_and_description{
}

.date_and_description h1{
    border-right: 0px;
}

h1 {
    font-size: 16px;
    color: darkgreen;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 3px;
}

h2 {
    font-size: 14px;
    color: #488C3B;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 3px;
}

.fields{
    margin-left: 5em;
    line-height: 180%;
}

#notebook a:link{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#notebook a:visited{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#notebook a:hover{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#notebook a:active{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

.add_workout_button{
    margin-left: 3em;
}

.add_exercise_button{
    margin-left: 5em;
}

.add_exercise_group_button{
    margin-left: 15em;
}

#gorilla{
    margin-left: 20%;
}

img{
  border-style: none;
}

img.expand{
    width: 70%;
    margin-bottom: -4px;
}

#homepage {
  width: 100%;
  background-color: lightgreen;
  padding: 30px;
  margin-right: 30px;
  text-align: left;
  font-size: 20px;
}

#homepage a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  border-style: none;
}

#notebook{
    font-size: 18px;
}

#notebook h1{
    margin-left: 50px;
    margin-top: -25px;
    padding-bottom: 20px;
    font-weight: normal;
}

#journal{
    padding-bottom: 20px;
    font-size: 14px
}

#journal td{
    padding-bottom: 30px;
    padding-right: 5px;
}

#journal th{
    color: darkgreen;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-right: 40px;
    text-align: left;
}

#workout_date_index_col{
    text-align: left;
}

#journal a:link{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dotted;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#journal a:visited{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dotted;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#journal a:hover{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dotted;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#journal a:active{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dotted;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}






















#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.clear {
  clear: both;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.colors, .task, .tag{border-left:10px solid #eee; padding-left:10px;}
.task{border-color:#999; margin:2em 0;}