body {
    padding-top: 5%;
    padding-bottom: 30%;
    border: 0;
    font-family: Verdana, Helvetica, Arial;
    font-size: 14px;
    /* For WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#808000));
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #fff, #808000);
    /* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#808000);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#808000)";
}

#container {
  width: 75%;
  margin-left: 16%;
  font-size: 15px;
}

#binder {
  width: 75%;
  margin: auto;
  background: url(/images/middle.png);
  background-size: 100%;
  -moz-background-size: 100%;
  background-repeat:repeat-y;
  font-size: 12px;
  padding-bottom: 20px;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}


#header {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -1px;
  background: url(/images/top2.png);
  background-size: 100%;
  -moz-background-size: 100%;
  padding: auto;
  -moz-border-radius-topright: 25px 50px;
  border-top-right-radius: 25px 50px;
  background-position:center-bottom;
}

#footer {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;
  background: url(/images/top2.png);
  background-size: 100%;
  -moz-background-size: 100%;
  padding: auto;
  -moz-border-radius-bottomright: 25px 50px;
  border-bottom-right-radius: 25px 50px;
  background-position:center-top;
}

#bottom {
  padding-top: 12px;
  font-size: 12px;
  text-align: center;
}

.date_and_description{
}

.date_and_description h1{
    border-right: 0px;
}

h1 {
    font-size: 16px;
    color: darkgreen;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 3px;
}

h2 {
    font-size: 14px;
    color: #488C3B;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 3px;
}

.fields{
    margin-left: 5em;
    line-height: 180%;
}

#notebook a:link{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#notebook a:visited{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#notebook a:hover{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#notebook a:active{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#container a:link{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#container a:visited{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#container a:hover{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#container a:active{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

.add_workout_button{
    margin-left: 3em;
}

.add_exercise_button{
    margin-left: 5em;
}

.add_exercise_group_button{
    margin-left: 15em;
}

img{
  border-style: none;
}

img.expand{
    width: 70%;
    margin-bottom: -4px;
}

fieldset{
    border-style: none;
}

#homepage {
  width: 93%;
  background-color: lightgreen;
  padding: 1%;
  text-align: left;
  font-size: 20px;
  margin: auto;
}

#homepage a:link{
  text-decoration: none;
  border-style: none;
}

#homepage a:visited{
  text-decoration: none;
  border-style: none;
}

#homepage a:hover{
  text-decoration: none;
  border-style: none;
}

#homepage a:active{
  text-decoration: none;
  border-style: none;
}

#notebook{
    font-size: 18px;
}

#notebook h1{
    margin-left: 5px;
    margin-top: -25px;
    padding-bottom: 20px;
    font-weight: normal;
}

#journal{
    padding-bottom: 20px;
    font-size: 14px
}

#journal td{
    padding-bottom: 30px;
    padding-right: 5px;
}

#journal th{
    color: darkgreen;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-right: 40px;
    text-align: left;
}

#workout_date_index_col{
    text-align: left;
}

#journal a:link{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#journal a:visited{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#journal a:hover{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

#journal a:active{
    text-decoration: none;
    color: darkgreen;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}

span.show_definitions{
    color:darkgreen;
}

.show_data {
    margin-left: 5em;
    line-height: 180%;
}

.show_journal_data {
    margin-left: 1em;
    line-height: 180%;
}

.workout_day{
    border-width: 1px;
    border-style: solid;
    border-top: none;
    margin-left: -1em;
    margin-right: 1em;
}

.top_border{
    border-width: 1px;
    border-style: solid;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-left: -1em;
    margin-right: 1em;
}

.program_bottom_links{
    margin-left: -1em;
}

/* Notices and Errors */
#notice {
  color: red;
}

#flash_notice, #flash_error {  
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.clear {
  clear: both;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: lightgreen;
  color: brown;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.colors, .task, .tag{border-left:10px solid #eee; padding-left:10px;}
.task{border-color:#999; margin:2em 0;}

#gorilla{
  width: 50%;
  height: auto;
  margin-left: 24%;
  overflow: auto;
  margin-top: -16%;
  z-index: -1;
  position:absolute;
  padding-top: 100px;
}

#gorilla2{
    width: 80%;
    padding-bottom: 30px;
    margin-left: 5%;
}

/* Navigation Tabs http://www.marcofolio.net/css/sweet_tabbed_navigation_using_css3.html */
/* http://www.cuberick.com/2010/05/simple-tabbed-navigation-in-rails.html */
#menu { margin-left: 40%; margin-bottom: 4.2%; z-index: 2; position: inherit; padding-top: 20px;}
#menu ul { list-style:none; z-index: 2; position: inherit;}
#menu ul li { display:inline; float:left; margin-bottom:20px; z-index: 2; position: inherit;}

/* :first-child pseudo selector with rounded top left corner */
#menu ul li:first-child a { -moz-border-radius-topleft: 12px; -webkit-border-top-left-radius:12px; z-index: 2; position: inherit;}

/* :last-child pseudo selector with rounded top right corner */
#menu ul li:last-child a { -moz-border-radius-topright: 12px; -webkit-border-top-right-radius:12px; z-index: 2; position: inherit;}

/* background color set to RGBA, with opacity on 0.3 and also using text-shadow */
#menu ul li a { padding:20px; background: rgba(255,138,30,0.3); text-decoration: none; font: bold 20px Helvetica, Sans-Serif; letter-spacing: -1px; color: #402e16;
	text-shadow: #eee 0px 0px 2px; z-index: 2; position: inherit;}

/* hover state shows a linear gradient and opacity it brought down to 0.9 and also shows a very slight grey shadow on top */
#menu ul li a:hover { -moz-box-shadow: 0 -5px 10px #777; -webkit-box-shadow: 0 -5px 10px #777;
   background: -webkit-gradient(
      linear, right bottom, left top, color-stop(0, rgb(237,227,112)), color-stop(0.72, rgb(255,173,10))) !important;
   background: -moz-linear-gradient(
      right bottom, rgb(237,227,112) 0%, rgb(255,173,10) 72%) !important;
   background-color:rgb(255,173,10) !important;
   -moz-opacity:.90; filter:alpha(opacity=90); opacity:.90; }

/* another RGBA background, now with an opacity of 0.8 */
#menu ul li a.active { background: rgba(255,138,30,0.8) !important; z-index: 2; position: inherit;}