<table id="homepage">
    <tr>
        <th><%= link_to image_tag("Button.png", :border=>0), :controller => 'athletic_programs', :action => 'index' %></th>
        <th><%= link_to image_tag("Keep_Track!.png", :border=>0), :controller => 'date_of_workouts', :action => 'index' %></th>
    </tr>
    <tr>
      <td>
        Create or find a workout program
      </td>
      <td>
        Keep a journal of your workouts
      </td>
    </tr>

    <tr>
      <td>
        <li>Fully Customizable</li>
        <li>Printable</li>
        <li>Quickly Email</li>
      </td>
      <td>
        <li>Use from Mobile</li>
        <li>Track Any Variable</li>
        <li>Graph Progress</li>
      </td>
    </tr>
</table>