<%# content_for :header do %>
  <%#= image_tag "banner.png", :alt => 'StrongApe', :id => "gorilla" %>
<%# end %>


<% content_for :selected_navigation do%>
  <% @selected_navigation = :home %>
<% end %>
<%= image_tag "banner.png", :alt => 'StrongApe', :id => "gorilla2" %>
<table id="homepage">
    <tr>
      <th align="center">
        <%= link_to "Design Your Workouts", athletic_programs_path, :class => "button orange" %>
      </th>
      <td></td>
      <th align="center">
        <%= link_to "Log in Your Journal", date_of_workouts_path, :class => "button orange" %>
      </th>
    </tr>

    <tr>
      <td>
        <li style="margin-left: 40px">Fully Customizable</li>
        <li style="margin-left: 40px">Printable</li>
        <li style="margin-left: 40px">Quickly Email</li>
      </td>
      <td></td>
      <td>
        <li style="margin-left: 40px">Use from Mobile</li>
        <li style="margin-left: 40px">Track Any Variable</li>
        <li style="margin-left: 40px">Graph Progress</li>
      </td>
    </tr>
    <tr>
      <td></ br></td>
    </tr>
</table>

<!--
<#script type="text/javascript">
$(document).ready(function(){
  $("body").css({ "margin-top":"-30px" });
  $("body").css({ "padding-top":"180px" });
});
</script>
-->