<table id="homepage">
    <tr>
        <th><%= link_to image_tag("Button.png", :border=>0), :controller => 'athletic_programs', :action => 'index' %></th>
        <th><%= link_to image_tag("Keep_Track!.png", :border=>0), :controller => 'date_of_workouts', :action => 'index' %></th>
    </tr>
    <tr>
      <td>
        Find and create a customize workout program
      </td>
      <td>
        Keep a journal of your workouts digitally
      </td>
    </tr>

    <tr>
      <td>
        <li>Dynamically Add Exercises and Set Parameters</li>
        <li>Printable Format</li>
        <li>Pick Dates</li>
      </td>
      <td>
        <li>Dynamically Add Exercises and Set Parameters</li>
        <li>Use from mobile</li>
        <li>Graph progress</li>
      </td>
    </tr>
</table>