<%# content_for :header do %>
  <%#= image_tag "banner.png", :alt => 'StrongApe', :id => "gorilla" %>
<%# end %>


<% content_for :selected_navigation do%>
  <% @selected_navigation = :home %>
<% end %>
<%= image_tag "banner.png", :alt => 'StrongApe', :id => "gorilla2" %>
<table id="homepage">
    <tr>
        <th><%= link_to image_tag("Button.png", :border=>0), :controller => 'athletic_programs', :action => 'index' %></th>
        <th></th>
        <th><%= link_to image_tag("Keep_Track!.png", :border=>0), :controller => 'date_of_workouts', :action => 'index' %></th>
    </tr>
    <tr>
      <td>
        Create or find a workout program
      </td>
      <td></td>
      <td>
        Keep a journal of your workouts
      </td>
    </tr>

    <tr>
      <td>
        <li style="margin-left: 40px">Fully Customizable</li>
        <li style="margin-left: 40px">Printable</li>
        <li style="margin-left: 40px">Quickly Email</li>
      </td>
      <td></td>
      <td>
        <li style="margin-left: 40px">Use from Mobile</li>
        <li style="margin-left: 40px">Track Any Variable</li>
        <li style="margin-left: 40px">Graph Progress</li>
      </td>
    </tr>
</table>

<#script type="text/javascript">
$(document).ready(function(){
  
  $("body").css({ "margin-top":"-30px" });
  $("body").css({ "padding-top":"180px" });


});
<#/script>