

<%#= link_to 'Designs', athletic_programs_path %>
<%#= link_to 'Keep Track', date_of_workouts_path %>

<%= link_to image_tag("Button.png", :border=>0), :controller => 'athletic_programs', :action => 'index' %>
Find and create a customize workout program

<%= link_to image_tag("Keep_Track!.png", :border=>0), :controller => 'date_of_workouts', :action => 'index' %>
Keep a journal of your workouts digitally
<!--
<a class="button" href="\athletic_programs"><span>Design Program</span></a>
--!>